#kurumi {
    /* IMPORTANTE: Ajusta el ancho/alto a UN SOLO cuadrito */
    width: 100px; 
    height: 100px;
    background-image: url(https://raw.githubusercontent.com/JOELHERMES/cumplesapo/main/imagenparasapo.jpeg);
    background-position: 0px 0px;
}

.animar {
    /* steps(8) significa que tu hoja tiene 8 cuadros de ancho */
    /* Ajusta el 8 al número de cuadros que quieras animar */
    animation: disparo 1s steps(8) forwards; 
}

@keyframes disparo {
    /* Aquí debes poner el ancho total de tu imagen si quieres que recorra toda */
    to { background-position: -800px 0px; } 
}